In [1]:
import pandas

In [2]:
data = pandas.read_csv("weather_data.csv")
print(data)

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [3]:
data["temp"] #

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data_dict = data.to_dict()
data_dict

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [6]:
temp_list = data["temp"].to_list()
temp_list

[12, 14, 15, 14, 21, 22, 24]

In [7]:
len(temp_list)

7

In [8]:
#python
avg = sum(temp_list) / len(temp_list)
avg

17.428571428571427

In [9]:
#pandas
avg_temp = data["temp"].mean()
print(avg_temp)

17.428571428571427

In [10]:
#max temp
max_temp = data["temp"].max()
print(max_temp)

24

In [11]:
#Get data in columns
data["condition"]

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [12]:
#columns in dataframe are converted into attributes 
data.condition

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [13]:
#Get data in rows
data[data.day == "Monday"]  #data[data[day]]

      day  temp condition
0  Monday    12     Sunny

In [14]:
#Day that has max temp
data[data["temp"] == data["temp"].max()]

      day  temp condition
6  Sunday    24     Sunny

In [15]:
monday = data[data.day == "Monday"]
print(monday.condition)

0    Sunny
Name: condition, dtype: object

In [16]:
#Convert monday temp into Fahrenheit

monday_temp_fahrenheit = (monday.temp) * 9/5 + 32
monday_temp_fahrenheit

0    53.6
Name: temp, dtype: float64